
body{
margin-top: 10px;
background: #000000;
font-family:Verdana;
}
.menu{
  padding: 0;
  text-decoration: none;
  display: inline-block;
}
/* unvisited link */
a:link {
    color: #FFFFFF;
}

/* visited link */
a:visited {
    color: #7FFFD4;
}

/* mouse over link */
a:hover {
    color: #FFF8DC;
}

/* selected link */
a:active {
    color: #0000FF;
}
p{
color: #FFFFFF;  
font-size: 20px;
}
li{
display: inline-block;  
text-decoration: none;  
}
