
body{
margin-top: 10px;
background: #000000;
}
.menu{
  padding: 0;
  text-decoration: none;
  display: inline-block;
}
a{
text-decoration: none;  
}
/* unvisited link */
a:link {
    color: #FFFFFF;
}

/* visited link */
a:visited {
    color: #00FF00;
}

/* mouse over link */
a:hover {
    color: #FF00FF;
}

/* selected link */
a:active {
    color: #0000FF;
}
p{
color: #FFFFFF;  
font-size: 20px;
}
ul{
display: inline-block;  
}
